<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <title>SearchApp</title>
        <link rel="icon" href="{{ url_for('static', filename='imgs/petr1.png') }}" sizes="16x16 32x32" type="image/png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

        </nav>
        <div class="container">
            <div class="row">
                <div class="col text-center">

                    <img src="{{ url_for('static', filename='imgs/petr1.png') }}" alt="AntSearch Logo" style="height:140px; float:left">
                    <img src="{{ url_for('static', filename='imgs/petr1.png') }}" alt="AntSearch Logo" style="height:140px; float:right">
                    <h1> ZotHoo! </h1>
                    <p> Made by Guillermo and Eduardo </p>
                    <small class="text-secondary"> Logo credits:<a href="https://www.reddit.com/user/petr_asseatr"> UCI reddit user </a></small>
                    <br>
                    <small class="text-secondary"> Num of all tokens: <b>{{all_tokens}}</b> </small> <br>
                    <small class="text-secondary"> Num of all documents: <b>{{all_documents}}</b> </small> <br>
                </div>
            </div>
        </div>


        <div class="container search-section">
            <div class="row">
                <div class="col">
                    <form method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search: Irvine" aria-label="Search" aria-describedby="button-addon2" name="search_input">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit" id="search">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if search%}

        <div class="container">
            <small class="text-secondary" style="margin-right: 40px;"> Search for: <b>{{search}}</b> </small>
            <small class="text-secondary" style="margin-right: 40px;" > Num of token({{search}}) found: <b>{{tokens}}</b> </small>
            <small class="text-secondary"> Num of docs that have {{search}}: <b>{{links}}</b> </small>
            {{ pagination.links }}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Documents</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in results %}
                        <tr>
                            <td>{{ loop.index + (page - 1) * per_page }}</td>
                            <td> <a href="{{ r }}">{{ r }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ pagination.links }}
        </div>


            <!-- <div class="container">
                <div class="row">
                    <div class="col">



                        {% for r in results: %}
                            <p><a href="{{r}}">{{r}}</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div> -->
        {%endif%}








        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
